.faq {
  background-color: rgba(236, 246, 255, 1);
  padding: 60px 160px;
  display: flex;
}

.faq_left {
  width: 480px;
  background-color: white;
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
}

.faq_left p:nth-child(2) {
  margin-bottom: 30px;
}

.faq_right {
  background-color: #bfe0ff;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 480px; */
  gap: 20px;
  overflow-y: hidden;
  width: 60%;
  background-color: #bfe0ff;
  background-image: url('../Assets/4015.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.faq_right div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 90%;
  background-color: white;
  height: fit-content;
  padding: 10px 20px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.faq_right div li {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  width: 92%;
}

.faq_right div img {
  height: 22px;
  width: 22px;
  transform: rotate(90deg);
}

.answer {
  display: none;
  /* width: 540px; */
  padding: 2px 20px;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
}

.faq_right div:hover {
  cursor: pointer;
}

.faq_right div:hover .answer {
  display: block;
}

.faq_right div:hover .icon_img {
  transform: rotate(-90deg);
}

/* .faq_right div:not(:active) .answer{
  display: none;
} */
