.form {
  background-color: rgba(236, 246, 255, 1);
  padding: 100px 160px;
}

.container {
  background-color: white;
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  background-image: url(../Assets/leaves.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48vw;
}

.container p:nth-child(2) {
  width: 380px;
  text-align: center;
  margin-bottom: 30px;
}

.data_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  row-gap: 42px;
}

.input_text {
  display: flex;
  flex-direction: column;
}

.input_text input {
  background-color: rgba(236, 246, 255, 1);
  border: 1px #a6d4ff solid;
  border-radius: 6px;
  display: inline;
  position: relative;
  top: 0;
  height: 48px;
  width: 18vw;
  padding: 12px 24px;
}

.data_container div:last-child input {
  width: 547px;
}

.input_text input:focus-visible {
  border: 1px #a6d4ff solid;
  transition: top 0.3s ease;
  top: -4px;
  box-shadow: 0 4px 4px rgba(102, 102, 102, 0.168);
  outline: none;
}

.it_label_false {
  font-size: 14px;
  letter-spacing: 0.6px;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  display: inline;
  position: relative;
  left: 2vw;
  top: -34px;
  transition: 0.6s ease all;
  height: 0px;
}

.input_text input:focus-visible ~ .it_label_false {
  top: -72px;
  left: 0vw;
  font-size: 12px;
  color: #64b4ff;
  display: inline;
}

.it_label_true {
  position: relative;
  transition: 0.6s ease all;
  top: -72px;
  left: 0vw;
  font-size: 12px;
  color: #64b4ff;
  display: inline;
  height: 0px;
}

.input_text input::-webkit-spelling-error {
  text-decoration: none;
}

.input_text input::-moz-spelling-error {
  text-decoration: none;
}

/* For Chrome, Safari, Edge, Opera */
.input_text input[type='number']::-webkit-inner-spin-button,
.input_text input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.input_text input[type='number'] {
  -moz-appearance: textfield;
}

/* For IE11 */
.input_text input[type='number']::-ms-clear,
.input_text input[type='number']::-ms-reveal {
  display: none;
}
