.location {
  padding: 60px 10vw 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
  background-image: url('../Assets/background-4.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.l_left {
  height: fit-content;
  display: inline;
}

.l_left img:first-child{
    height: 260px;
    width: 30vw;
    display: inline;
    border-radius: 46px;
    cursor: pointer;
}


.l_left button {
    display: inline;
    position: relative;
    top: -66px;
    left: 228px;
}

.l_right {
  height: fit-content;
  background-color: #BFE0FF;
  border-radius: 46px;
  padding: 34px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.l_r_p1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.l_r_p1 p:nth-child(1) {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    width: 80%;
}

.l_r_p1 p:nth-child(2) {
    color: rgba(102, 102, 102, 1);
    font-size: 1rem;
    font-weight: 400;
    width: 84%;
}

.l_r_p1 p:nth-child(3) {
    color: rgb(78, 78, 78);
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
}

.l_r_p2 {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}