.success {
  background-color: white;
  padding: 8px 80px;
  height: 70px;
  width: 860px;
  border-radius: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.success p {
  margin: 0;
}

.success p:first-child {
  color: #808080;
  font-size: 24px;
  font-weight: 600;
}

.success_mob_text {
  color: #808080;
  font-size: 24px;
  font-weight: 600;
  display: none;
}

.success p:last-child {
  color: #ff0505bf;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  top: -24px;
  animation: text_slide 3s ease-in infinite;
  width: 180px;
}

@keyframes text_slide {
  0% {
    top: -24px;
    opacity: 0;
  }
  30% {
    top: 0px;
    opacity: 1;
  }
  70% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 24px;
    opacity: 0;
  }
}

@media (min-width: 1480px) {
  .success {
    width: 60vw;
    height: 4vw;
  }
  .success p:first-child {
    font-size: 1.4vw;
  }
  .success p:last-child {
    font-size: 1.4vw;
    width: 12vw;
  }
}

@media (max-width: 1480px) {
  .success {
    width: 56vw;
    height: 4.4vw;
  }
  .success p:first-child {
    font-size: 1.6vw;
  }
  .success p:last-child {
    font-size: 1.6vw;
    width: 14vw;
  }
}

@media (max-width: 950px) {
  .success {
    width: 60vw;
    height: 4.4vw;
    gap: 6px;
    padding: 8px 60px;
  }
  .success p:first-child {
    font-size: 1.4vw;
  }
  .success p:last-child {
    font-size: 1.4vw;
    width: 14vw;
    letter-spacing: 1.4px;
  }
  @keyframes text_slide {
    0% {
      top: -12px;
      opacity: 0;
    }
    30% {
      top: 0px;
      opacity: 1;
    }
    70% {
      top: 0px;
      opacity: 1;
    }
    100% {
      top: 12px;
      opacity: 0;
    }
  }
}
@media (max-width: 572px) {
  .success {
    width: 80vw;
    height: 30px;
    gap: 6px;
    padding: 8px 20px;
  }
  .success p:first-child {
    display: none;
  }

  .success_mob_text {
    font-size: 14px;
    display: block;
  }
  .success p:last-child {
    font-size: 14px;
    width: 110px;
    letter-spacing: 1.2px;
  }
  @keyframes text_slide {
    0% {
      top: -8px;
      opacity: 0;
    }
    30% {
      top: 0px;
      opacity: 1;
    }
    70% {
      top: 0px;
      opacity: 1;
    }
    100% {
      top: 8px;
      opacity: 0;
    }
  }
}
