.about_us {
  padding: 30px 160px;
  gap: 48px;
}

.about_us_img_1 {
  height: 400px;
  margin-left: 100px;
}

.about_us_p1_details {
  background-color: rgba(236, 246, 255, 1);
  width: 280px;
  padding: 10px 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  top: -100px;
  left: 0;
  animation-iteration-count: 1;
}

@keyframes slide_in {
  0% {
    opacity: 0;
    left: -40%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.about_us_p1_details div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pointer_icon {
  height: 20px;
  width: 20px;
}

.about_us_p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about_us_title {
  display: inline-block;
  position: relative;
  top: 20px;
}

.about_us_p2 div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about_us_p2 div div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.know_more_btn {
  padding: 6px 16px;
}

.about_us_p2,
.about_us_p3 {
  position: relative;
  top: -40px;
}

.about_us_p3 img {
  height: 240px;
}

@media (min-width: 1480px) {
  .about_us {
    padding: 30px 14vw;
  }
  .about_us_img_1 {
    height: 24vw;
  }
  .about_us_p1_details {
    height: fit-content;
    top: -140px;
    width: fit-content;
  }
  /* .about_text {
    font-size: 1vw;
  }
  .about_us_title h1 {
    font-size: 1.2vw;
  }

  .about_subtitle {
    font-size: 1.6vw;
    line-height: normal;
  } */

  .about_us_p2 {
    height: 16vw;
  }

  .know_more_btn {
    border-radius: 6vw;
    width: 10vw;
    height: 2.6vw;
    font-size: 1vw;
    padding: 4px 10px;
  }

  .about_us_p3 img {
    width: 22vw;
    height: fit-content;
  }
}

@media (max-width: 1480px) {
  .about_us {
    padding: 30px 10vw;
  }
  .about_us_img_1 {
    height: 24vw;
  }
  .about_us_p1_details {
    height: fit-content;
    width: fit-content;
  }
  .about_text {
    font-size: 0.9vw;
  }
  .about_us_title h1 {
    font-size: 1.2vw;
    margin-bottom: 12px;
  }

  .about_subtitle {
    font-size: 1.6vw;
    line-height: normal;
  }
  .about_us_p2 {
    height: 18vw;
    gap: 10px;
  }
  .about_us_p2 div {
    gap: 4px;
  }
  .know_more_btn {
    font-size: 1vw;
    width: fit-content;
  }
  .about_us_p3 img {
    width: 20vw;
    height: fit-content;
  }
}
@media (max-width: 1024px) {
  .about_us {
    padding: 30px 80px;
    gap: 24px;
  }
}
@media (max-width: 950px) {
  .about_us {
    padding: 30px 80px;
  }
  .about_us_img_1 {
    height: 28vw;
    margin-left: 60px;
  }
  .about_us_p1_details {
    height: fit-content;
    width: fit-content;
  }
  .pointer_icon {
    height: 12px;
    width: 12px;
  }
  .know_more_btn {
    font-size: 1.2vw;
    width: fit-content;
    letter-spacing: 1.4px;
  }
  .about_us_p3 img {
    width: 24vw;
    height: fit-content;
  }
}
@media (max-width: 850px) {
  .about_us_p1_details {
    top: -60px;
  }
  .about_us_p1_details {
    padding: 6px 16px;
  }

  .about_us_title h1 {
    font-size: 9px;
  }

  .about_subtitle {
    font-size: 12px;
    line-height: normal;
  }

  .about_text {
    font-size: 8px;
  }
  .about_us_p3 img {
    display: none;
  }
}
@media (max-width: 572px) {
  .about_us {
    padding-top: 16px;
    height: 50vw;
    align-items: center;
  }

  .about_us_p1_details {
    display: none;
  }
  .about_us_img_1 {
    display: none;
  }
  .about_us_p2 {
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }
  .about_us_title h1 {
    font-size: 9px;
  }

  .about_subtitle {
    font-size: 12px;
    line-height: normal;
    width: 90%;
  }

  .about_text {
    font-size: 8px;
    width: 100%;
  }
  .know_more_btn {
    font-size: 10px;
    width: fit-content;
    letter-spacing: 1px;
  }
  .about_us_p3 {
    position: none;
  }
}

@media (max-width: 392px) {
    .about_us {
        padding: 8px 26px;
        height: 50vw;
        align-items: center;
      }
    .about_subtitle {
        width: 100%;
    }
}