.about_us {
    padding: 30px 160px;
    gap: 48px;
}

.about_us_img_1 {
    height: 400px;
    margin-left: 100px;
}

.about_us_p1_details {
    background-color: rgba(236, 246, 255, 1);
    width: 280px;
    padding: 10px 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    top: -100px;
    left: 0;
    animation-iteration-count: 1;
}

@keyframes slide_in {
    0%{
        opacity: 0;
        left: -40%;
    }
    100%{
        opacity: 1;
        left: 0%;
    }
}

.about_us_p1_details div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.pointer_icon {
    height: 20px;
    width: 20px;
}

.about_us_p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.about_us_p2 div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about_us_p2 div div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}

.about_us_p2, .about_us_p3{
    position: relative;
    top: -40px;
}

.about_us_p3 img {
    height: 240px;
}