nav {
  background-color: #bfe0ff;
  padding: 4px 160px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav p {
  font-size: 0.8vw;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

nav p:hover {
  text-decoration: underline 1.2px rgb(3, 0, 39);
  color: rgb(3, 0, 39);
}

.social-media-icons {
  display: flex;
  gap: 0.8vw;
}

.social-media-icons img {
  height: 1.2vw;
  width: 1.2vw;
  opacity: 0.6;
  cursor: pointer;
}

.social-media-icons img:hover {
  transition: opacity 0.4s ease-in;
  opacity: 0.9;
}

@media (min-width: 1480px) {
  nav {
    padding: 4px 14vw;
  }

  nav p {
    font-size: 0.8vw;
  }

  .social-media-icons img {
    height: 1.2vw;
    width: 1.2vw;
    max-width: 25px;
    max-height: 25px;
  }
}

@media (max-width: 1480px) {
  nav {
    padding: 4px 10vw;
  }

  nav p {
    font-size: 12px;
  }

  .social-media-icons img {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: 1024px) {
  nav {
    padding: 4px 80px;
  }

  nav p {
    font-size: 10px;
  }

  .social-media-icons img {
    height: 12px;
    width: 12px;
  }
}

@media (max-width: 572px) {
  nav {
    display: none;
  }
}
