@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Background colors */
/* background-color: rgba(236, 246, 255, 1); */
/* background-color: #BFE0FF; */
/* background-color: #ffdd00; */

/* Text colors */
/* color: rgba(102, 102, 102, 1) */

* {
  font-family: 'Poppins', sans-serif;
}

p {
  cursor: context-menu;
}

.flex-centre-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Button code */
.button {
  border: none;
  border-radius: 96px;
  width: 186px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  background-color: #ffdd00;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: translateY(-8px);
  box-shadow: #ffdd0044 0px 10px 10px;
}

/* title */
.title {
  color: #808080;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* subtitle */
.subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 32px;
}
/* text */
.text {
  margin: 0;
  font-size: 14px;
  color: #434343;
  font-weight: 300;
}

/* title text */
.title_aaa {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  color: #808080;
  margin: 0;
  padding: 0;
}

.title_aaa .block_aaa {
  width: 100%;
  height: 100%;
  background: #ffdd00;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
  margin: 0;
  padding: 0;
}

.title_aaa h1 {
  font-size: 20px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.title_aaa h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffdd00;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: relative;
  right: -2px;
  margin: 0;
  padding: 0;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 0px;
  }
}

@media (min-width: 1480px) {
  .title_aaa {
    font-size: 1.2vw;
  }
  .subtitle {
    font-size: 1.6vw;
    line-height: normal;
  }
  .text {
    font-size: 1vw;
  }
}
@media (max-width: 1480px) {
  .title_aaa {
    font-size: 1.2vw;
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: 1.6vw;
    line-height: normal;
  }

  .text {
    font-size: 0.9vw;
  }
}
@media (max-width: 1024px) {
  /*  */
}
@media (max-width: 950px) {
  .title_aaa {
    font-size: 9px;
  }

  .subtitle {
    font-size: 20px;
    line-height: normal;
  }

  .text {
    font-size: 8px;
  }
}
@media (max-width: 572px) {
  .title_aaa {
    font-size: 9px;
  }

  .subtitle {
    font-size: 18px;
    line-height: normal;
    width: 90%;
  }

  .text {
    font-size: 8px;
    width: 100%;
  }
}

/* @media (min-width: 1480px) */
/* @media (max-width: 1480px) */
/* @media (max-width: 1024px) */
/* @media (max-width: 950px) */
/* @media (max-width: 572px) */

/* Course Details title and text code bellow */
.c_d_title {
  font-size: 1.8vw;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin: 0;
  height: fit-content;
}

.c_d_text {
  font-size: 1.2vw;
  font-weight: 400;
  margin: 0;
  height: fit-content;
}
