@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Background colors */
/* background-color: rgba(236, 246, 255, 1); */
/* background-color: #BFE0FF; */
/* background-color: #ffdd00; */

/* Text colors */
/* color: rgba(102, 102, 102, 1) */

* {
  font-family: 'Poppins', sans-serif;
}

.flex-centre-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Button code */
.button {
  border: none;
  border-radius: 96px;
  width: 186px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  background-color: #ffdd00;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: translateY(-8px);
  box-shadow: #ffdd0044 0px 10px 10px;
}

/* title */
.title {
  color: #808080;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* subtitle */
.subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 32px;
}
/* text */
.text {
  margin: 0;
  font-size: 14px;
  color: #434343;
  font-weight: 300;
}
