.card_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 0px;
  row-gap: 40px;
  width: calc(100vw - 320px);
}

.courses {
  padding: 60px 160px;
  background-color: rgba(236, 246, 255, 1);
  display: flex;
  flex-direction: column;
}

.courses_upper {
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
  align-items: center;
}

.courses_upper p:nth-child(2) {
  width: 620px;
  text-align: center;
}

.subject_list {
  list-style: none;
  background-color: white;
  height: 60px;
  width: 780px;
  border-radius: 116px;
  padding: 0 60px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
}

.subject_list li {
  font-size: 16px;
  font-weight: 400;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

/* course card css code below */

.card {
  width: 300px;
  height: 380px;
  background: none;
  border-radius: 16px;
  border: none;
  align-items: center;
  position: relative;
  display: inline-block;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0));
  pointer-events: none;
  border-radius: 16px;
}

.card_img {
  width: 300px;
  height: 380px;
  border-radius: 16px;
  object-fit: cover;
}

.card_top {
  display: none;
}

.card_bottom {
  display: none;
}

.heading_no_hover {
  font-size: 24px;
  font-weight: 700;
  width: 200px;
  text-align: center;
  color: white;
  display: inline-block;
  position: relative;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
}

.card_bottom p:nth-child(2) {
  display: none;
}

.course_card_btn {
  display: none;
}

/* when card hover */

.card:hover .card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  position: relative;
  top: -380px;
  height: 380px;
  background-color: #3737375a;
  padding: 24px 0;
}

.card:hover .card_top {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card:hover .card_top_containers p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.card:hover .card_top_containers img {
  position: relative;
  top: -1.4px;
  height: 20px;
  width: fit-content;
}

.card:hover .card_top p {
  margin: 0;
  width: 200px;
  padding: 0px 10px;
}

.card:hover .card_top div:nth-child(1) p {
  background-color: #fffef1;
  width: 140px;
  height: 20px;
}

.card:hover .card_top div:nth-child(2) p {
  background-color: #fffcb2;
  width: 160px;
  height: 20px;
}

.card:hover .card_top div:nth-child(3) p {
  background-color: #fff856;
  width: 180px;
  height: 20px;
}

.card:hover .card_bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.card:hover .card_bottom p {
  margin: 0;
}

.card:hover .card_bottom p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  width: 200px;
  text-align: center;
  color: white;
}

.card:hover .card_bottom p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  width: 80%;
  text-align: center;
  color: white;
  display: block;
}

.card:hover .course_card_btn {
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 34px;
  width: 160px;
  position: relative;
  border: none;
  border-radius: 96px;
  text-align: center;
  color: white;
  background-color: #ffdd00;
  transition: transform 0.3s ease;
}

.card:hover .course_card_btn:hover {
  transform: translate(0, -8px);
  box-shadow: #ffdd0044 0px 10px 10px;
}

.card:hover .heading_no_hover{
  display: none;
}