.faculty_section {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.faculty_section_left {
  padding: 60px 80px 60px 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bfe0ff;
}

.faculty_section_left p:nth-child(2) {
  width: 380px;
  line-height: 30px;
}

.faculty_section_left p:nth-child(3) {
  margin-bottom: 30px;
  line-height: 20px;
  width: 380px;
}

.not_selected {
  list-style: none;
  border-radius: 96px;
  width: fit-content;
  padding: 2px 18px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.selected {
  list-style: none;
  border-radius: 96px;
  width: fit-content;
  padding: 2px 18px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  background-color: #ffdd00;
  border: 2px solid #ffdd00;
  transition: transform 0.3s ease;
  transform: translateY(-8px);
  box-shadow: #ffdd0044 0px 10px 10px;
}

.faculty_section_right {
  background-color: rgba(236, 246, 255, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 60px 0px;
  gap: 30px;
}

.teacher_img {
  height: 320px;
  width: 480px;
  object-fit: cover;
}

.faculty_section_right div {
  display: flex;
  gap: 16px;
  width: 480px;
}

.qualification_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.qualification_container button {
  height: 28px;
  width: 180px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 96px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  background-color: #ffdd00;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.qualification_container button:hover {
  transform: translateY(-8px);
  box-shadow: #ffdd0044 0px 10px 10px;
}

.faculty_section_right div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
}

.faculty_section_right div div img {
  height: 20px;
  width: 20px;
}

.faculty_section_right div div p {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
